<div class="container p-4">
  <div class="row justify-content-center">
    <div class="container">
      <mat-card>
        <mat-card-title>Orders</mat-card-title>
        <mat-card-subtitle>Order/Listing</mat-card-subtitle>
        <mat-card-actions align="end">
          <a class="btn btn-success" (click)="addOrder()"  routerLink="create-order" >Add Order</a>
        </mat-card-actions>
      </mat-card>
      <div class="mat-card">
        <div *ngIf="loading === false; else showRows"  class="d-flex justify-content-center">
          <mat-spinner></mat-spinner>
        </div>
        <ng-template #showRows class="p-0 m-0">
          <p-table   [paginator]="true" [rows]="5"  [value]="orders" responsiveLayout="scroll" [pageLinks]="5">
            <ng-template pTemplate="header">
              <tr>
                <th>Code</th>
                <th>Made By</th>
                <th>Amount</th>
                <th>orders</th>
                <th>Created At</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>
              <tr>
                <td>{{order.id}}</td>
                <td>{{order.first_name}} {{order.last_name}}</td>
                <td>{{order.amount}}</td>
                <td>
                  <button class="btn btn-light btn-sm text-info" (click)=getOrderDetails(order)>Show details</button>
                </td>
                <td>{{order.created_at}}</td>
              </tr>
            </ng-template>
          </p-table>
        </ng-template>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="showOrderDetailsModal" tabindex="-1" role="dialog" aria-labelledby="showOrderDetailsModalLabel" aria-hidden="false"  data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Order Details</h2>
        <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-order-details [order]="orderDetails"></app-order-details>
      </div>

    </div>
  </div>
</div>
