<form  [formGroup]="productForm">
  <div class="form-group">
    <label>Product Name</label>
    <input [class.is-invalid]="f.name.touched && f.name.errors?.required" formControlName="name" required name="name" placeholder="name"  class="form-control" type="text">
    <div *ngIf="f.name.touched">
      <small class="text-danger" *ngIf="f.name.errors?.required">
        Name is required!
      </small>
    </div>
  </div>
  <div class="form-group">
    <label>Product Price</label>
    <input [class.is-invalid]="f.price.touched && f.price.errors?.required" formControlName="price" required placeholder="price" name="price" class="form-control" type="text">
    <div *ngIf="f.price.touched">
      <small class="text-danger" *ngIf="f.price.errors?.required">
        Price is required!
      </small>
    </div>
  </div>
  <div class="form-group">
    <button  (click)="addProduct()" class="btn btn-success float-right ml-2">Create</button>
    <button data-dismiss="modal" class="btn btn-light float-right border">close</button>
  </div>
</form>
