<div id="login-main" class="p-4">
  <!------- Login ----------->
  <h1 class="text-center">Login</h1>
  <!------------Login Form------------->
  <div class="alert alert-danger" *ngIf="errorMsg">
    <p class="text-danger">{{errorMsg}}</p>
  </div>
  <form #userForm="ngForm">
    <div class="form-group">
      <label>Email <span class="text-danger">*</span></label>
      <input required type="email" #email="ngModel" [class.is-invalid]="email.touched && email.invalid" [(ngModel)]="loginUserData.email"  name="email" placeholder="Enter your email"  class="form-control d-block">
      <small [class.d-none]="email.valid || email.untouched" class="text-danger">Email is required</small>
    </div>
    <div class="form-group">
      <label>Password <span class="text-danger">*</span></label>
      <input required type="password" [class.is-invalid]="password.touched && password.invalid" #password="ngModel" [(ngModel)]="loginUserData.password" name="password" placeholder="Enter your password" class="form-control d-block">
      <small [class.d-none]="password.valid || password.untouched" class="text-danger">Password confirmation is required</small>
    </div>
    <div class="form-group">
      <button [disabled]="userForm.invalid" (click)="loginUser()" class="d-bock btn btn-outline-success btn-lg btn-block">Login</button>
    </div>
  </form>`
</div>
