<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <div class="container">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <a *ngIf="!loggedIn" class="navbar-brand text-success" routerLink="/login">Beweb Shop</a>
   <a *ngIf="loggedIn" class="navbar-brand text-success" routerLink="/home">Dashboard</a>
   <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
     <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       <li *ngIf="loggedIn" class="nav-item">
         <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
       </li>
       <li *ngIf="loggedIn" class="nav-item">
         <a class="nav-link" routerLink="/orders" routerLinkActive="active">Orders</a>
       </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
       <a  class="btn btn-outline-success mx-2" routerLink="/register"  routerLinkActive="active" *ngIf="!loggedIn">Register</a>
       <a  class="btn btn-outline-success mx-2" routerLink="/login"  routerLinkActive="active" *ngIf="!loggedIn">Login</a>
       <a  class="btn btn-outline-success mx-2" (click)="logout($event)"  routerLinkActive="active" *ngIf="loggedIn">Logout</a>
     </form>
   </div>
 </div>
</nav>
