<div class="container p-4">
  <div class="row justify-content-center">
      <div class="container">
        <mat-card>
          <mat-card-title>Products</mat-card-title>
          <mat-card-subtitle>Product Table/Listing</mat-card-subtitle>
          <mat-card-actions align="end">
            <button class="btn btn-success" (click)="addProduct()">Add Product</button>
          </mat-card-actions>
        </mat-card>
        <div class="mat-card">
          <div *ngIf="loading === false; else showRows"  class="d-flex justify-content-center">
              <mat-spinner></mat-spinner>
          </div>
          <ng-template #showRows class="p-0 m-0">
            <p-table   [paginator]="true" [rows]="5"  [value]="products" responsiveLayout="scroll" [pageLinks]="5">
              <ng-template pTemplate="header">
                <tr>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Created At</th>
                  <th>Actions</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>{{product.id}}</td>
                  <td>{{product.name}}</td>
                  <td>{{product.price}}</td>
                  <td>{{product.created_at}}</td>
                  <td>
                    <button  (click)="editProduct(product.id)"  matTooltipPosition="above" matTooltip="Edit Product" type="button"
                     class="btn btn-default text-primary"><span class="material-icons">edit</span>
                    </button>
                    <button (click)="deleteProduct(product.id)" matTooltipPosition="above"  matTooltipClass="delete-tooltip-red"
                    matTooltip="Delete Product"  type="button" class="btn btn-default text-danger">
                      <span class="material-icons">delete</span></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </ng-template>
        </div>
      </div>
  </div>
</div>

<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="false"  data-backdrop="static">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="isAddMode" class="modal-title">Create Product</h5>
        <h5 *ngIf="!isAddMode" class="modal-title">Edit Product</h5>
        <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-product *ngIf="isAddMode"  [isAddMode]="isAddMode" (productsRefresh)="getProducts()" ></app-add-product>
        <app-edit-product *ngIf="!isAddMode" [productToEdit]="productToEdit"  (productsRefresh)="getProducts()" ></app-edit-product>
      </div>

    </div>
  </div>
</div>
