<form [formGroup]="productEditForm">
  <div class="form-group">
    <label>Product Name</label>
    <input [ngModel]="productToEdit.name" formControlName="name" required name="name" placeholder="name"  class="form-control" type="text">
  </div>
  <div class="form-group">
    <label>Product Price</label>
    <input [ngModel]="productToEdit.price" formControlName="price" required placeholder="price" name="price" class="form-control" type="text">
  </div>
  <div class="form-group">
    <button (click)="updateProduct()" class="btn btn-success float-right ml-2">Update</button>
    <button data-dismiss="modal" class="btn btn-light float-right border">close</button>
  </div>
</form>
