<div class="container p-4">
  <div class="row justify-content-center">
    <div class="container">

      <mat-stepper linear #stepper>

        <!----Customer Informations---->

        <mat-step [stepControl]="customerFormGroup">
          <form [formGroup]="customerFormGroup">
            <ng-template matStepLabel>Customer Informations</ng-template>
            <mat-form-field appearance="fill" class="d-block">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="First name" formControlName="first_name" required>
            </mat-form-field>
            <mat-form-field appearance="fill" class="d-block">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last name" formControlName="last_name" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>

        <!----Choose Products and Quantity---->

        <mat-step  [optional]="isOptional">
            <ng-template matStepLabel>Choose Products and Quantity</ng-template>

              <p-table
                #dt1
                [globalFilterFields]="['name']"
                [value]="products" responsiveLayout="scroll"
                [scrollable]="true" scrollHeight="400px">
                <ng-template pTemplate="caption">
                  <div class="flex">
                    <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
                </span>
                  </div>
                </ng-template>

                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="name">Product Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="price">Price  <p-sortIcon field="price"></p-sortIcon></th>
                    <th>Choose Quantity</th>
                    <th>Add Product</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                  <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>
                      <input class="quanityField"  min="1" max="5"  value=1  id="quantityField-{{product.id}}"  type="number">
                    </td>
                    <td id="addProductFromOrder-{{product.id}}">
                      <button  class="btn btn-outline-success btn-sm"  (click)="selectedProduct(product)">
                      Add to my Order</button>
                    </td>
                    <td class="d-none" id="removeProductFromOrder-{{product.id}}">
                      <button  class="btn btn-outline-dark btn-sm" (click)="RemoveSelectedProduct(product)">Remove from Order</button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            <div>
              <button  [disabled]="!isValidOrder" (click)="saveOrder()" class="float-right" mat-button matStepperNext>Next</button>
              <button class="float-right" mat-button matStepperPrevious>Back</button>
            </div>
        </mat-step>

        <!----Confirm Order---->
        <mat-step>
          <ng-template matStepLabel>Confirm Order</ng-template>

          <div class="row justify-content-center">
            <div class="col-sm-8">
             <div class="card p-3">
               <h1>Order Confirmation</h1>
               <br>
               <h3 class="font-weight-bold"> Customer Info :</h3>
               <p>FirstName : {{savedOrder.first_name}}</p>
               <p>Name : {{savedOrder.first_name}}</p>
               <hr>
               <h3 class="font-weight-bold"> Selected Products :</h3>
               <div class="row" >
                <div class="col-sm-3" *ngFor="let orderProduct of savedOrder.order_products"  >
                  <div class="list-group-item">Product Id : <span class="text-success">{{orderProduct['product_id']}}</span></div>
                  <div class="list-group-item">Quantity : <span class="text-success">{{orderProduct['quantity']}}</span></div>
                  <div class="list-group-item">Price : <span class="text-success">{{orderProduct['price']}}</span></div>
                </div>
               </div>
               <hr>
               <p><span class="font-weight-bold">Amount</span> : <span class="text-success">{{amount}}</span></p>
               <hr>
               <button class="btn btn-success btn-lg" (click)="confirmOrder()">Confrim Order</button>
             </div>
            </div>
          </div>
          <div>
            <button class="float-right"  mat-button (click)="stepper.reset()">Reset</button>
            <button class="float-right" mat-button matStepperPrevious>Back</button>
          </div>
        </mat-step>

      </mat-stepper>
    </div>
  </div>
</div>


