/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #3fb53f;
}
.delete-tooltip-red {
  background: #b71c1c;
}
