<div class="container p-4">

  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="card p-3 bg-light">
        <h3 class="text-success">Welcome To Dashboard</h3>
        <p>You are logged in </p>
      </div>
    </div>
  </div>
</div>
