<h1>Details for Order id  {{order.id}}</h1>
  <table class="table">
    <thead>
    <th>id</th>
    <th>product id</th>
    <th>quantity</th>
    <th>Price</th>
    </thead>
    <tbody>
    <tr *ngFor="let subOrder  of  order.orders">
      <td>{{subOrder.id}}</td>
      <td>{{subOrder.name}}</td>
      <td>{{subOrder.quantity}}</td>
      <td>{{subOrder.price}}</td>
    </tr>
    </tbody>
  </table>

