<div id="register-container" class="p-4">
  <h1 class="text-center">Register</h1>
  <!-----------Register Form------------->
  <div class="alert alert-danger" *ngIf="errorMsg">
    <p class="text-danger">{{errorMsg}}</p>
  </div>
  <form #userForm="ngForm">
    <div class="form-group">
      <label>Name <span class="text-danger">*</span></label>
      <input required type="text" #name="ngModel" [class.is-invalid]="name.touched && name.invalid" [(ngModel)]="registerUserData.name"   name="name" placeholder="Enter your email" class="form-control d-block">
      <small [class.d-none]="name.valid || name.untouched" class="text-danger">Name is required</small>
    </div>
    <div class="form-group">
      <label>Email <span class="text-danger">*</span></label>
      <input required type="email" #email="ngModel" [class.is-invalid]="email.touched && email.invalid" [(ngModel)]="registerUserData.email"  name="email" placeholder="Enter your email"  class="form-control d-block">
      <small [class.d-none]="email.valid || email.untouched" class="text-danger">Email is required</small>
    </div>
    <div class="form-group">
      <label>Password <span class="text-danger">*</span></label>
      <input required type="password" [class.is-invalid]="password.touched && password.invalid" #password="ngModel" [(ngModel)]="registerUserData.password" name="password" placeholder="Enter your password" class="form-control d-block">
      <small [class.d-none]="password.valid || password.untouched" class="text-danger">Password confirmation is required</small>
    </div>
    <div class="form-group">
      <label>Confirm Password <span class="text-danger">*</span></label>
      <input required type="password" [class.is-invalid]="password_confirm.touched && password_confirm.invalid" #password_confirm="ngModel"  [(ngModel)]="registerUserData.password_confirmation" name="password_confirmation" placeholder="Confirm your password" class="form-control d-block">
      <small [class.d-none]="password_confirm.valid || password_confirm.untouched" class="text-danger">Password confirmation is required</small>
    </div>
    <div class="form-group">
      <button [disabled]="userForm.invalid" (click)="registerUser()"   class="d-bock btn btn-outline-success btn-lg btn-block">Save</button>
    </div>
  </form>`
</div>
