body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#register-container{
  margin: auto;
  width:30%;

}
@media only screen and (max-width: 1045px) {
  #register-container{
    margin: auto;
    width:90%;

  }
}


